:root {
  --primary-color: #268A59; 
  --accent-color: #8A2658;
  --text-color: #333333;
  --primary-text-color: #383838;
}

.top-section {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    align-items: center;
}

.top-section .breadcrumb ul {
    display: flex;
    list-style-type: none;
    margin: 1rem 0;
    padding: 0
}

.top-section .breadcrumb ul li a {
    margin-right: 1rem;
    text-decoration: none;
    color: var(--text-color);
}

.top-section .breadcrumb ul li:not(:last-child) a::after {
    content: ">";
    position: relative;
    left: .5rem;
}

.top-section form {
    padding: 0;
}

.top-section .read-later-button {
    background-color: transparent;
    width: auto;
    color: var(--text-color);
    border: 2px solid var(--text-color);
    font-size: 1rem;
    padding: .5rem .5rem;
    transition: all .5s ease;
}

.top-section .read-later-button:hover {
    cursor: pointer;
    background-color: #e3e3e3;

}

main, .comment-section, hr, .top-section  {
    max-width: 50%;
    margin: 0 auto;
}

hr {
    margin-bottom: 2rem;
    margin-top: 5rem;
}

article h1 {
    font-size: 2.5rem;
}

section .blog-img-container {
    padding: 2rem 0 3rem 0;
}

section .blog-img-container img {
    width: 100%;
}

article span {
    font-size: 1rem;
    color: var(--text-color);
}

article span .strong {
    font-weight: bold;
}

article p {
    font-size: 1.2rem;
    line-height: 2.3rem;
    color: var(--text-color);
}

/* Form */
form {
    display: flex;
    padding-top: 1rem;
}

form .user-name-field {
    width: 10rem;
    height: 1.5rem;
    border: 1px solid var(--text-color);
    padding: .2rem;
    margin-right: 2rem;
    border: none;
    border-bottom: 1px solid var(--text-color);
    font-size: 1rem;
    outline: none;

}

form .comment-field {
    font-size: 1rem;
    outline: none;
    margin-right: 2rem;
    padding: .2rem;
    height: 1.5rem;
    width: 20rem;
    border: none;
    border-bottom: 1px solid var(--text-color);
}

form button {
    width: 7rem;
    height: 2rem;
    font-size: 1rem;
    color: white;
    border: none;
    background-color: var(--accent-color);
    cursor: pointer;
}

.comment-list ul {
    list-style-type: none;
    padding: 0;
    margin: 2rem 0;
    margin-top: 3rem;
}

.comment-list ul li {
    margin: 0;
    margin-bottom: 1.6rem;
}

.comment-list ul h5 {
    font-size: .9rem;
    margin: 0;
}
.comment-list ul p {
    font-size: 1rem;
    margin: 0;
}

.comment-section {
    margin-bottom: 7rem;
}