footer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 100%;
    margin: 0;
    background-color: #202020;
    color: #cfcfcf;
}