:root {
  --primary-color: #268A59; 
  --accent-color: #8A2658;
  --text-color: #333333;
  --primary-text-color: #383838;
}

/* HERO SECTION */
.hero-section {
    background: linear-gradient(var(--primary-color), #92cfb1);
    margin: 0;
    text-align: center;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* #9C4D83 */

.hero-section h1{
    font-size: 2.5rem;
    color: #fff;
    margin: 0;
}

.hero-section p{
    color: #fff;
    font-size: 1.2rem;
    max-width: 60rem;
    margin-top: 1.5rem;
}

.hero-section a {
    width: auto;
    padding: 1.3rem 1rem;
    margin-top: 1.3rem;
    color: #fff;
    font-size: 1.2rem;
    background-color: transparent;
    border: 3px solid #fff;
    transition: all .5s ease;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;

}

.hero-section a:hover {
    background-color: var(--accent-color);
    border: 3px solid var(--accent-color);
    color: #fff;
    cursor: pointer;

}

/* Paragraph */
section p {
    color: var(--text-color);
    font-size: 1.2rem;
    margin-top: 1.5rem;
    line-height: 2rem;
}

/* ABOUT SECTION */
.default-section-layout {
    margin: 5rem 0;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.default-section-layout h2 {
    font-size: 2rem;
    color: var(--accent-color);
    position: relative;
}

.default-section-layout div {
    width: 30rem;
}

.default-section-layout ul {
    line-height: 2rem;
    font-size: 1.2rem;
    color: var(--text-color);
    margin: 0;
    padding-left: 20px;
}

.reverse-layout {
    flex-direction: row-reverse;
}

/* Featured Articles Section */
.featured-articles-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.featured-articles-section h2 {
    font-size: 2rem;
    color: var(--accent-color)
}

.featured-articles-section p {
    margin-top: 0;
}

.featured-articles-section .card-layout {
    display: flex;
    justify-content: space-around;
    margin: 2rem 2rem;
}

.featured-articles-section .card-layout a {
    text-decoration: none;
    color: var(--text-color);
    height: 15rem;
    width: 30rem;
    border-radius: 5px;
    box-shadow: 0px 0px 2px #898989;
    margin: 0 1.5rem;
    transition: all .2s ease;
}

.featured-articles-section .card-layout a:hover {
    transform: translateY(-5px);
}

.featured-articles-section .card-layout a h3 {
    color: var(--primary-text-color);
}

.featured-articles-section .card-layout a p {
    font-size: 1rem;
    padding: 0 1.5rem;
}