{% extends "base.html" %}
{% load static %}

{% block meta_title %}About | Django Journal{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/styles.css' %}">
    <link rel="stylesheet" href="{% static 'blog/header.css' %}">
    <link rel="stylesheet" href="{% static 'blog/footer.css' %}">
{% endblock %}

{% block content %}
    {% include "./includes/header.html" %}

    <h1 class="text-center heading-1 mt-5">About</h1>
    <p class="align-center w-50">Django Journal is a practical learning blog focused on real world Django development.</p>
    <p class="align-center w-50">It documents concepts, implementation decisions, and lessons learned while building Django applications. The content is written with a strong focus on clarity, structure, and real project usage rather than isolated examples.</p>
    <p class="align-center w-50">This project is built as a real Django application using proper project structure, database driven content, and clean templates.</p>
    <p class="align-center w-50 mb-5">Django Journal is intended for beginners and developers who want to understand how Django works in real applications through simple and practical explanations.</p>


    {% include "./includes/footer.html" %}
{% endblock %}