{% extends "base.html" %}
{% load static %}

{% block meta_title %}About | Django Journal{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/styles.css" %}">
    <link rel="stylesheet" href="{% static "blog/header.css" %}">
    <link rel="stylesheet" href="{% static "blog/footer.css" %}">
{% endblock %}

{% block content %}
    {% include "./includes/header.html" %}

    <h1 class="text-center heading-1 mt-5 mb-5">About</h1>


    {% include "./includes/footer.html" %}
{% endblock %}