{% extends "base.html" %}
{% load static %}

{% block meta_title %}Blogs | Django Journal{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/styles.css' %}">
    <link rel="stylesheet" href="{% static 'blog/header.css' %}">
    <link rel="stylesheet" href="{% static 'blog/footer.css' %}">
{% endblock %}

{% block content %}
    {% include "./includes/header.html" %}

    <h1 class="text-center heading-1 mt-5 mb-5">Blogs</h1>
    <section class="m-around-6 mb-5">
        <div class="card-container">
            
            {% for blog_data in  blogs %}
                <a href="{%url 'blog-detail' blog_data.slug %}">
                    <div class="img-container">
                        <img src="{{ blog_data.image.url }}" alt="{{ blog_data.title }}" >
                    </div>
                    <h3>{{ blog_data.title }}</h3>
                    <p>{{ blog_data.excerpt }}</p>
                </a>
            {% endfor %}
            
        </div>
    </section>


    {% include "./includes/footer.html" %}
{% endblock %}